ComputationalGeometry/TestComputationalGeometry/bin
ComputationalGeometry/TestComputationalGeometry/obj
ComputationalGeometry/ComputationalGeometry/bin
ComputationalGeometry/ComputationalGeometry/obj
ComputationalGeometry/ColorX/obj
ComputationalGeometry/ImageGenerator/bin
ComputationalGeometry/ImageGenerator/obj
ComputationalGeometry/ColorX/bin
ComputationalGeometry/ColorMap/bin
ComputationalGeometry/ColorMap/obj
