ComputationalGeometry/TestComputationalGeometry/bin
ComputationalGeometry/TestComputationalGeometry/obj
ComputationalGeometry/ComputationalGeometry/bin
ComputationalGeometry/ComputationalGeometry/obj
